body {  
  padding: 2em;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  color: #212121;
}

#console {
    background-color: #CCC;
}

.form-group {
    margin-bottom: 30px;
    border-left: solid 1px #CCC;    
    padding-left: 10px;
}